{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Guanchen Zhao</h3>
                        <p>
                            1933 Dock st, Tacoma, WA, USA<br/>
                            <strong>Email:</strong> guanchenzhao@gmail.com<br/>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="wechat"><i class="icofont-wechat"></i></a>
                            <a href="#" class="mail"><i class="icofont-envelope"></i></a>
                            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a href="{% url 'homepage' %}">Home</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Works</h4>

                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>
                        If you love my website, please subscribe us, and we will notify
                        you about our new fancy webapp.
                    </p>
                    <form id="subscribe" action="" method="post" class="needs-validation" novalidate>
                        <input type="text" name="email" placeholder="foo@gmail.com" required/>
                        <div class="invalid-feedback">
                            Please fill in valid email address
                        </div>
                        <input
                                type="submit"
                                value="Subscribe"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Guanchen</span></strong
        >. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="#">Guanchen</a>
        </div>
    </div>
</footer>
<!-- End Footer -->
