<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta content="author" name="MFFFFFF">
    <meta content="mail" name="dasdad@163.com">
    
    <link
      rel="icon"
      href="{% static 'mainSite/src/icon/icon_512x512@2x.png' %}"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="{% static 'mainSite/src/icon/icon_512x512@2x.png' %}"
      sizes="16x16"
      type="image/png"
    />

    <!-- Favicons -->
    <link href="{% static 'mainSite/src/icon/icon512x512@2x.png' %}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!-- <link href="{% static 'mainSite/src/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'mainSite/src/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainSite/src/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainSite/src/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainSite/src/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'mainSite/src/vendor/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainSite/src/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'mainSite/src/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainSite/src/vendor/aos/aos.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'mainSite/src/css/bootstrap.min.css' %}">

    <link href="{% static 'mainSite/src/css/style.css' %}" rel="stylesheet">

    {% block style %}

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<!-- <body oncontextmenu="return false"> -->
<body>
    {% if show_intro %}
        {% include 'mainSite/intro.html' %}
    {% endif %}

    {% include 'htmls/mainSite/header.html' %}

    {% block body %}

    {% endblock %}

    {% include 'htmls/mainSite/footer.html' %}

    <!-- Vendor JS Files -->
    <script src="{% static 'mainSite/src/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/TweenMax/TweenMax.min.js' %}"></script>
    <script src="{% static 'mainSite/src/vendor/aos/aos.js' %}"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script> 

    <script src="{% static 'mainSite/src/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainSite/src/js/main.js' %}"></script>
    <script src="{% static 'mainSite/src/js/formChecker.js' %}"></script>
    
    {% block js %}

    {% endblock %}
</body>
</html>